%ol
  - if (@list.length == 0)
    %p EMPTY LIST
  - else
    - @list.each do |url|
      %li 
        #{url.url}
        - if (url.label == '')
          %a{:href=>"/#{url.id.to_s(Base)}",:target=>"_blank",:title=>"#{url.url}"} (#{url.id.to_s(Base)})
        -else
          %a{:href=>"/#{url.label}",:target=>"_blank",:title=>"#{url.url}"} (#{url.label})
/         %a{:href=>"/#{url.id.to_s(Base)}",:target=>"_blank",:title=>"#{url.url}"} (#{url.label})
